@using MyProject.Models;
@model IEnumerable<NewsArticle>

@{

}

<section class="py-5 bg-light">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-xl-8">
                <h2 class="fw-bolder fs-5 mb-4">News</h2>
                <!-- News item-->
                <div class="mb-4">
                    <div class="small text-muted"></div>
                    <a class="link-dark"><h3></h3></a>
                </div>
                <!-- News item-->
                @if (Model.Count() > 0 )
                {

                    @foreach (var item in Model)
                    {
                        <div class="mb-5">
                            <div class="small text-muted">@item.PublishedAt</div>
                            <a class="link-dark" href="@item.Url"><h3>@item.Title</h3></a>
                            <img class="align-items-end" src="@item.UrlToImage" alt="@item.Title" style="width:200px;">
                        </div>
                    }
                    <div class="otherArticles" id="articles">
                            
                    </div>

                    <button id="seeMore" class="btn-success" style="text-decoration:underline;cursor:pointer" >See more</button>
                    <button id="seeLess" class="btn-success" style="text-decoration:underline;cursor:pointer;display:none">See less</button>
                }
                else
                {
                    <div class="mb-5">
                        <p>No Result </p>
                    </div>


                }


            </div>

        </div>
    </div>
</section>