
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.BlogHome>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Main.cshtml";


    var dateString = "12/5/2022 12:00:00 AM";
    DateTime date1 = DateTime.Parse(dateString);
    var companyArticles = Umbraco.Content(Guid.Parse("9d9db464-5329-4096-98fd-95166af01c36"))
           .ChildrenOfType("companyBlog")
           .Where(x => x.IsVisible());

    var selection = Umbraco.Content(Guid.Parse("9d9db464-5329-4096-98fd-95166af01c36"))
                 .ChildrenOfType("blogItem")
                 .Where(x => x.IsVisible())
                 .OrderBy(x => x.CreateDate);
    


}
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5">
            <h1 class="fw-bolder fs-5 mb-4">Company Blog</h1>
            @foreach (var item in companyArticles)
            {
                var thumbnail = item.Value<IPublishedContent>("thumbnailImage");
                <div class="card border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-body p-0">
                        <div class="row gx-0">
                            <div class="col-lg-6 col-xl-5 py-lg-5">
                                <div class="p-4 p-md-5">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                    <div class="h2 fw-bolder">
                                        @item.Value("title")
                                    </div>
                                    <p>@item.Value("subtitle")...</p>
                                    <a class="stretched-link text-decoration-none blog-click" href="@item.Url()">
                                        Read more
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-7">
                                <div class="bg-featured-blog">
                                    <img src="@thumbnail.Url()" style="width:782px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            }

        </div>
    </section>
    @await Component.InvokeAsync("NewsArticles")
    
@*<div id="chart-container">FusionCharts XT will load here!</div>*@

    @await Component.InvokeAsync("chartjs")
    <!-- Blog preview section-->
    <section class="py-5">
        <div class="container px-5">
            <h2 class="fw-bolder fs-5 mb-4">Featured Stories</h2>
            <div class="row gx-5">

                @foreach (var item in selection.Where(x => x.HasProperty("addArticlesToList") && x.GetProperty("addArticlesToList").HasValue() == true))
                {
                    var thumbnail = item.Value<IPublishedContent>("thumbnailImage");

                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" style="height:300px; width:auto" src="@thumbnail.Url()" alt="..." />
                            <div class="card-body p-4">

                                <a class="text-decoration-none link-dark stretched-link" href="@item.Url()"><div class="h5 card-title mb-3">@item.Value("title")</div></a>
                                <p class="card-text mb-0">@item.Value("subtitle")</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                        <div class="small">
                                            <div class="fw-bold">@item.Value("authorName")</div>
                                            <div class="text-muted">@String.Format("{0:d/M/yyyy}", @item.Value("publishedOn")) </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>


        </div>

    </section>
</main>