@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.CompanyBlog>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Main.cshtml";
    var thumbnail = Model.Value<IPublishedContent>("thumbnailImage");
}
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="d-flex align-items-center mt-lg-5 mb-4">
                    <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                    <div class="ms-3">
                        <div class="fw-bold">@Model.Value("authorName")</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">@Model.Value("title")</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2"></div>
                        <!-- Post categories-->

                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="@thumbnail.Url()" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <div>
                            @Model.Value("introText")
                        </div>
                        <div>
                            @Model.Value("bodyText")
                        </div>
                    </section>
                </article>
            </div>
        </div>
    </div>
</section>